# 기본 설정 - 모든 환경에서 공통으로 사용
spring:
  application:
    name: office-commute
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  config:
    import: optional:file:.env[.properties]
  
  # JPA 공통 설정
  jpa:
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  
  # SQL 초기화 설정
#  sql:
#    init:
#      data-locations: classpath:data.sql

  # Jackson 공통 설정
  jackson:
    default-property-inclusion: non_null

# 서버 공통 설정
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true

# Resilience4j Circuit Breaker 설정
resilience4j:
  circuitbreaker:
    instances:
      holidayApi:
        sliding-window-size: 10
        minimum-number-of-calls: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 3
        slow-call-duration-threshold: 4s
        slow-call-rate-threshold: 50
